# --- Dependencies ---
node_modules/
.pnpm-debug.log
.pnp*

# --- Next.js & Web Apps ---
.next/
out/
.vercel
next-env.d.ts
*.tsbuildinfo

# --- Build Outputs (Icons Package) ---
# Kita ignore folder dist hasil tsup, tapi biarkan folder src/react tetap ada
packages/icons/dist/
build/
coverage/

# --- Environment & Secrets (Sangat Penting!) ---
.env*
*.pem
*.secret

# --- IDE & OS Files ---
.vscode/
.idea/
.DS_Store
*.swp

# --- Turborepo & Cache ---
.turbo/
.cache/

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*